@use '../../style/var';

.userInputWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .userInput {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
            border: 1px solid var.$tertiaire;
            border-radius: 12px;
            outline: none;
            height:28px;
            padding:0 10px
        }
    }

    .msgError {
        background-color: #f1f1f1;
        font-size: 12px;
        color: red;
    }
}