@use '../../style/var';

.userInputWrap {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .userInput {
        display: flex;
        flex-direction: column;
        gap: 5px;

        input {
            border: 1px solid var.$tertiaire;
            border-radius: 12px;
            outline: none;
            height:28px;
            padding:0 10px


        }


    }

    .msgError {
        background-color: #f1f1f1;
        font-size: 12px;
        color: red;

    }

    .pswErrMsgWrap {
        background: #f1f1f1;
        color: #000;
        display: flex;
        flex-direction: column;
        gap:2px;
        h3 {
            font-size: 14px;
        }

        .MsgWrap {
            display: flex;
            align-items: center;
            gap:10px;
            font-size: 12px;

            .valid {
                color:green;
            }

            .invalid {
                color:red;
            }
        }
    }
}