@use '../../style/var.scss';
@use '../../style/responsive.scss';


.landingCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
    text-align: center;
    color:var.$tertiaire;
    padding: 0 20px 50px 20px;
    height: calc(100vh - 136px);
    justify-content: space-around;

    img {
        width: 100%;
    }

    .btn {
        font-size: 14px;
        padding: 20px;
        border-radius: 10px;

        color: white;
        background-color:var.$tertiaire;

        &:hover{
            box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.73);
        }
    }
}

@include responsive.mediaQuery(768px) {

    .landingCenter h2 {
        font-size: 20px;
    }


    .landingCenter img {
        width: 90%;
    }

    .landingCenter .btn {
        font-size: 16px;
    }
}

@include responsive.mediaQuery(992px) {
    .landingCenter h2 {
        font-size: 22px;
    }

    .landingCenter img {
        width: 70%;
    }

    .landingCenter .btn {
        font-size: 18px;
    }


}