@use '../../style/var.scss';


.form-wrap {
    height: calc(100vh - 108px);
    position: relative;
    display: flex;
    justify-content: center;

    .form {
        display: flex;
        flex-direction: column;
        gap: 14px;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.73);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        font-size: 14px;

        &__email {
            display: flex;
            flex-direction: column;
            gap: 5px;
                        
        }

        &__password {
            @extend .form__email;
        }

        &__username {
            @extend .form__email;            
        }

        // Input component
        .user-input {
            display: flex;
            flex-direction: column;
            gap: 5px;
    
            input {
                border: 1px solid var.$tertiaire;
                border-radius: 12px;
                outline: none;
                height:28px;
                padding:0 10px;
                font-size: 12px;
            }
        }
        // PswErrMsg component
        .password-error {
            background: #f1f1f1;
            color: #000;
            display: flex;
            flex-direction: column;
            gap:2px;
            
            &__title {
                font-size: 12px;
                font-weight: 600;
            }
    
            &__msg {
                display: flex;
                align-items: center;
                gap:10px;
                font-size: 12px;
    
                .valid {
                    color:green;
                }
    
                .invalid {
                    color:red;
                }
            }
        }

        // GenErrMSg component
        .error-msg {
            background-color: #f1f1f1;
            font-size: 12px;
            color: red;
            border-radius: 5px;

            padding:2px 4px;
        }

        .form__submit {
            display: flex;
            flex-direction: column-reverse;
            gap: 10px;
            position: relative;
            align-items: center;
            margin-top: 30px;

            .submit-btn {
                background-color: #4E5166;
                color: white;
                padding: 8px 10px;
                border-radius: 5px;
                width: 50%;
                align-self: center;
                cursor: pointer;
                border: none;

                &:hover {
                    box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.53);
                }

                
            }

            .submit-btn[disabled] {
                background-color: #bfc1d0;
                box-shadow: unset;
            }
            
            .submit-error {
                background-color: #e0e0e0;
                font-size: 12px;
                color: red;
                border-radius: 5px;

                height: 30px;
                text-align: center;
                width: 60%;
                display: flex;
                justify-content: center;
                align-items: center;
    
                &::after{
                    content: "";
                    position: absolute;
                    top: 43%;
                    left: 50%;
                    margin-left: -5px;
                    border-width: 5px;
                    border-style: solid;
                    border-color: #e0e0e0 transparent transparent transparent;
                }
            }
        }
    }
}

