@use '../../style/var.scss';
@use '../../style/responsive.scss';

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color:var.$tertiaire;

    &__logo{
        width: 200px;
    }

    &__img{
        width: 100%;
    }

    // landing page
    &__nav {
        padding-right: 20px;
        position: relative;
        
        .fa-bars,
        .fa-xmark {
            cursor: pointer;
            font-size: 24px;
        }
    }

    &__dropDown {
        position: absolute;
        right:5px;
        top:40px;
        display: flex;
        flex-direction: column;
        gap:20px;
        padding: 20px 10px;
        border-radius: 10px;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.73);
        background-color: white;
    }

    &__dropDown--MS {
        display: none;
    }

    &__button {
        text-align: center;
        border-radius: 5px;
        padding: 5px 10px;
        font-size: 16px;
    }

    &__button--dark {
        @extend .header__button;
        background-color: var.$tertiaire;
        color: white;
    }

    // sigup and login page
    &__linkWrap {
        padding:10px;
        font-size: 16px;
    }

    &__link {
        background-color: white;
        color: var.$tertiaire;
        font-weight: 700;
        padding: 5px 10px;
        border-radius: 5px;
    }
}

@include responsive.mediaQuery(768px) {
    .header__menu-icon {
        display: none;
    }

    .header__dropDown--MS {
        display: flex;
        gap:20px;
    }
}

@include responsive.mediaQuery(992px) {
    .header__logo{
        width: 245px;
    }
}

